@model IEnumerable<ManagementTool.Roles.Models.TrackingTask>
@{
    ViewBag.Title = "All Tasks";
}

<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Progress
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUserDetails)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TillDate)
            </td>
            <td>
                <div class="status-state" data-title="@Html.DisplayFor(modelItem => item.Id)" data-content="@Html.DisplayFor(modelItem => item.ParentId)">
                    @Html.DisplayFor(modelItem => item.Status)
                </div>

            </td>
            <td>
                <div class="progress id-@Html.DisplayFor(modelItem => item.Id)">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.Progress)">
                        <!--TODO: to change value of width-->
                        @Html.DisplayFor(modelItem => item.Progress) <!---TODO: change value of this number-->
                    </div>
                </div>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserDetails)
            </td>

            @if (item.ParentId != 0)
            {
                <td >
                    @Html.ActionLink("AddSubTask", "CreateSubTask", new { id = item.Id }) |
                    @Html.ActionLink("EditSubtask", "EditSubtask", new { id = item.Id }) |
                    @Html.ActionLink("SubtaskDetails", "SubtaskDetails", new { id = item.Id }) |
                    @Html.ActionLink("DeleteSubtask", "DeleteSubtask", new { id = item.Id })

                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("AddSubTask", "CreateSubTask", new { id = item.Id }) |
                    @Html.ActionLink("AssignUser", "AssignUser", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>
            }

        </tr>
    }

</table>
<script type="module" src="~/Scripts/script.js" crossorigin="anonymous">
</script>

